body{
    padding:0;
    width: 100%;
    margin: 0;
    
}
 .main{
    background-color:rgb(114, 137, 179);
    height:60px;
    width: 100%;
    
    
}


.format{
    position: absolute;
    top: 5px ;
    left: 95px;
    padding: 4px;
}
.img1{
    position: absolute;
    top: 8px ;
    left: 150px;
    padding: 4px;
}

.img2{ 
    position: absolute;
top: 10px ;
left: 200px;
padding: 4px;
}
.img3{ 
    position: absolute;
top: 10px ;
left: 250px;
padding: 4px;
}

p{
    position: absolute;
    top: 2px ;
    left: 350px;
    padding: 15px;
    color:white;
    font-size: 15px;
}
.button1{
    position: absolute;
    top: 14px ;
    right:50px;
    padding:3px;
    width: 100px;
    
}
.button2{
    position: absolute;
    top:14px ;
    right: 157px;
    width: 100px;
    padding:3px ;
    
    }
.button3{
    position: absolute;
    top: 14px;
    right:265px ;
    width:80px;
    padding: 3px;
}
.logo{
    position: absolute;
    top: 60px;
    left: 60px;
    padding: 0;
    position: fixed;
}

.navbar{
    height: 74px;
    background-color:black;
    width: 100%;
    position: fixed;
   }
nav ul li{
   float: right;
   padding: 10px;
   margin-right: 10px;
   list-style: none;
   }
   ul{
      padding:0;
      position: absolute;
      top: 65px;
      right: 50px;
      position: fixed;
      }
   a:hover{
      background-color:white;
      border-radius: 500%;
   -moz-border-radius:500px;
   -webkit-border-radius:200px;
   width: 50px;
   font-size: 20px;
   color: white;
   
}
.slider{
    width: 100%;
    height: 450px;
    background-color: cyan;
}
.mar1{
      background-color: mediumslateblue;
      font-size: 20px;
      height: 40px;
      width: 100%;
      padding: 5px;
      color: white;
}
i{
    color: yellowgreen;
}
.ii{
    color: blue;
}


.content{
    height: 30px;
    width:100% ;

}
h1{
    font-size: 40px;
    color:green;
    text-align: center;
    text-transform:uppercase;
    font-family: 'Courier New', Courier, monospace;
    padding: 40px;
    
}
#slid{
    width: 100%;
    height: 100px;
}
.img4{
    
    padding: 300px;
    
}

b{
    color:blue !important;
}
.aamm{
    position: absolute;
    left: 600px;
    top: 740px;
}
.one{
    text-align: center;
    position:absolute ;
    top: 800px;
    left: 100px;
    color:black;
    font-display: initial;
    
}
.two{
    text-align: center;
    position:absolute ;
    top: 835px;
    left: 100px;
    color:black;
}
.three{
    text-align: center;
    position:absolute ;
    top: 870px;
    left: 100px;
    color:black;
}
.four{
    text-align: center;
    position:absolute ;
    top: 905px;
    left: 100px;
    color:black;
}
.five{
    text-align: center;
    position:absolute ;
    top: 940px;
    left: 100px;
    color:black;
}
.six{
    text-align: center;
    position:absolute ;
    top: 975px;
    left: 100px;
    color:black;
}
.seven{
    text-align: center;
    position:absolute ;
    top: 1010px;
    left: 100px;
    color:black;
}
.eight{
    text-align: center;
    position:absolute ;
    top: 1045px;
    left: 100px;
    color:black;
}
.nine{
    text-align: center;
    position:absolute ;
    top: 1080px;
    left: 100px;
    color:black;
}
.ten{
    text-align: center;
    position:absolute ;
    top: 1115px;
    left: 100px;
    color:black;
}
.a{
    text-align: center;
    position:absolute ;
    top: 1150px;
    left: 100px;
    color:black;
}
.b{
    text-align: center;
    position:absolute ;
    top: 1185px;
    left: 100px;
    color:black;
}
.c{
    text-align: center;
    position:absolute ;
    top: 1220px;
    left: 100px;
    color:black;
}
.d{
    text-align: center;
    position:absolute ;
    top: 1255px;
    left: 100px;
    color:black;
}
.e{
    text-align: center;
    position:absolute ;
    top: 1290px;
    left: 100px;
    color:black;
}


.content{
    height: 800px;
    width: 100%;
    background-color:whitesmoke;
}
.main4{
    padding: 50px;
position: absolute;
top: 700px;
right: 550px;
}
.am{
    height: 300px;
    width: 100%;
    background-color: blue;
}
.block{
    
    position: absolute;
    top:1450px;
    left:2px;
    padding:50px;
    font-size: 70px;
    font-family: serif;
}
.amam{
    position: absolute;
    top:1450px;
    left: 500px;
    padding:50px;
    font-size: 70px;
    font-family: serif;
}
.maa{
    position: absolute;
    top:1450px;
    left: 1000px;
    padding:50px;
    font-size: 70px;
    font-family:serif;
}
.page{
    position: relative;
    left: 5px;
    font-family:monospace;
    font-size: 16px;
    color: chartreuse;
}
.page7{
    position: relative;
    left: 5px;
    font-family:monospace;
    font-size: 16px;
    color: chartreuse;
}
.page3{
    position: relative;
    left: 5px;
    font-family:monospace;
    font-size: 16px;
    color: chartreuse;
}




.body1{
    height: 800px;
    width: 100%;
    background-color: whitesmoke;
}

.page4{
    color:green;
    font-size: 30px;
}
.pass{
    padding: 0;
    position: absolute;
    right: 580px;
    top: 1820px;
}
.white{
    width: 100%;
    height: 300px;

    
}
.show{
    -moz-box-shadow: 5px 5px 5px 5px #77777705;
    -webkit-box-shadow:5px 5px 5px 5px #77777705;
    box-shadow:5px 5px 5px 5px #77777705;
    width: 25%;
    height: 180px;
    position: absolute;
    top: 1970px;
    right: 500px;

}
.show1{
    -moz-box-shadow: 5px 5px 5px 5px #777777;
    -webkit-box-shadow:5px 5px 5px 5px #777777;
    box-shadow:5px 5px 5px 5px #777777;
    width: 25%;
    height: 180px;
    position: absolute;
    top: 1970px;
    right: 850px;
}
    .show3{
        -moz-box-shadow: 5px 5px 5px 5px #777777;
        -webkit-box-shadow:5px 5px 5px 5px #777777;
        box-shadow:5px 5px 5px 5px  #777777;
        width: 25%;
        height: 180px;
        position: absolute;
        top: 1970px;
        right: 150px;
    }
    .show4{
        -moz-box-shadow: 5px 5px 5px 5px #777777;
        -webkit-box-shadow:5px 5px 5px 5px #777777;
        box-shadow:5px 5px 5px 5px #777777;
        width: 25%;
        height: 180px;
        position: absolute;
        top: 2190px;
        right: 150px;
    }
    
    .show5{
        -moz-box-shadow: 5px 5px 5px 5px #777777;
        -webkit-box-shadow:5px 5px 5px 5px #777777;
        box-shadow:5px 5px 5px 5px #777777;
        width: 25%;
        height: 180px;
        position: absolute;
        top: 2190px;
        right: 850px;
    }
    .show6{
        -moz-box-shadow: 5px 5px 5px 5px #777777;
        -webkit-box-shadow:5px 5px 5px 5px #777777;
        box-shadow:5px 5px 5px 5px #777777;
        width: 25%;
        height: 180px;
        position: absolute;
        top: 2190px;
        right: 500px;
    }
    .gallery{
        height: 600px;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    .show7{
        float: left;
        color: rgba(66, 114, 4, 0.856);
        font-weight: bolder;
        font-size: 30px;
        padding: 60px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
        
    
    
    }
    .show10{
        padding: 10px;
        position:absolute;
        left:100px ;
        top:2670px ;
        -moz-box-shadow: 5px 5px 5px 5px  rgb(44, 46, 45);
        -webkit-box-shadow:5px 5px 5px 5px   rgb(44, 46, 45);
        box-shadow:5px 5px 5px 5px  rgb(44, 46, 45);
        width: 30%;
        height: 150px;
        
        
    }
    .show13{
        padding: 10px;
        position:absolute;
        left:200px ;
        top:2770px ;
        color: rgb(9, 71, 3);
        font-weight: bold;
        font-family: monospace;

    }
    .show14{
        padding: 10px;
        position:absolute;
        left:573px ;
        top:2670px ;
        -moz-box-shadow: 5px 5px 5px 5px  rgb(44, 46, 45);
        -webkit-box-shadow:5px 5px 5px 5px   rgb(44, 46, 45);
        box-shadow:5px 5px 5px 5px  rgb(44, 46, 45);
        width: 30%;
        height: 148px;
        
        
    }
    .show15{
        padding: 10px;
        position:absolute;
        left:660px ;
        top:2770px ;
        color: rgb(9, 71, 3);
        font-weight: bold;
        font-family: monospace;
}
.show16{
    padding: 10px;
    position:absolute;
    left:100px ;
    top:2870px ;
    -moz-box-shadow: 5px 5px 5px 5px  rgb(44, 46, 45);
    -webkit-box-shadow:5px 5px 5px 5px   rgb(44, 46, 45);
    box-shadow:5px 5px 5px 5px  rgb(44, 46, 45);
    width: 30%;
    height: 148px;
    
    
}
.show17{
    padding: 10px;
    position:absolute;
    left:220px ;
    top:2960px ;
    color: rgb(9, 71, 3);
    font-weight: bold;
    font-family: monospace;
}

.show18{
    padding: 10px;
    position:absolute;
    left:580px ;
    top:2870px ;
    -moz-box-shadow: 5px 5px 5px 5px  rgb(44, 46, 45);
    -webkit-box-shadow:5px 5px 5px 5px   rgb(44, 46, 45);
    box-shadow:5px 5px 5px 5px  rgb(44, 46, 45);
    width: 30%;
    height: 148px;
    
    
}
.show19{
    padding: 10px;
    position:absolute;
    left:700px ;
    top:2960px ;
    color: rgb(9, 71, 3);
    font-weight: bold;
    font-family: monospace;
}
.show20{
    padding: 30px;
    position:absolute;
    left:440px ;
    top:3130px ;
    font-weight: bolder;
    font-size: 50px;
        
}
.show29{
    padding: 0;
    position: absolute;
    right: 580px;
    top: 3220px;
    height: 40px;
    width: 5%;

}


.show21{
    padding: 10px;
    position:absolute;
    left:100px ;
    top:3300px ;
    height: 150px;
    width: 20%;
    -moz-box-shadow: inset 0 0 10px   rgb(44, 46, 45);
    -webkit-box-shadow: inset 0 0 10px  rgb(44, 46, 45);
    box-shadow: inset 0 0 10px   rgb(44, 46, 45);
}
.show22{
    padding: 10px;
    position:absolute;
    left:350px ;
    top:3300px ;
    height: 150px;
    width: 20%;
    -moz-box-shadow: inset 0 0 10px   rgb(44, 46, 45);
    -webkit-box-shadow: inset 0 0 10px  rgb(44, 46, 45);
    box-shadow: inset 0 0 10px   rgb(44, 46, 45);
}
.show23{
    padding: 10px;
    position:absolute;
    left:600px ;
    top:3300px ;
    height: 150px;
    width: 20%;
    -moz-box-shadow: inset 0 0 10px   rgb(44, 46, 45);
    -webkit-box-shadow: inset 0 0 10px  rgb(44, 46, 45);
    box-shadow: inset 0 0 10px   rgb(44, 46, 45);
}
.show24{
    padding: 10px;
    position:absolute;
    left:850px ;
    top:3300px ;
    height: 150px;
    width: 20%;
    -moz-box-shadow: inset 0 0 10px     rgb(19, 150, 84);
    -webkit-box-shadow: inset 0 0 10px  rgb(19, 150, 84);
    box-shadow: inset 0 0 10px   rgb(19, 150, 84);
}





.footar{
    position:absolute;
    
    top:3540px ;
    height: 430px;
    width: 100%;
    background-color:rgba(44, 46, 44, 0.911);
}



.mainfootar {
    position: absolute;
    left: 30px;
    top: 10px;
    padding: 80px;
    font-weight: bold;
    font-size: 16px;
}
.show41{
    position: absolute;
    top: 150px;
    left: 94px;

}
.pass5{
    height: 30px;
    width: 8%;
}
.pass7{
    height: 30px;
    width: 8%;
}
.show42{
    position: absolute;
    top: 150px;
    left: 250px;

}
.pass8{
    height: 30px;
    width: 8%;
}

.show43{
    position: absolute;
    top: 180px;
    left: 94px;

}
.pass9{
    height: 30px;
    width: 8%;
}
.pass13{
    height: 20px;
    width: 2%;
    position: absolute;
    top: 130px;
    left: 830px;
}
.show44{
    position: absolute;
    top: 210px;
    left: 94px;


}
.show45{
    position: absolute;
    top: 240px;
    left: 94px;

}


.show46{
    position: absolute;
    top: 270px;
    left: 94px;

}
.show47{
    position: absolute;
    top: 30px;
    left: 500px;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.show48{
    position: absolute;
    top: 30px;
    left: 700px;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.pass11{
    height: 20px;
    width: 3%;
    position: absolute;
    top: 130px;
    left: 745px;
    
    
}
.pass12{
    height: 15px;
    width: 2%;
    position: absolute;
    top: 133px;
    left: 800px;
    
    
}
.pass14{
    height: 15px;
    width: 2%;
    position: absolute;
    top: 134px;
    left: 880px;
    
}

.pass13{
    height: 15px;
    width: 2%;
    position: absolute;
    top: 134px;
    left: 840px;
    
}







.show32{
    position:absolute;
    left:1 px ;
    top:3950px ;
    height: 60px;
    width: 100%;
    background-color: rgb(59, 105, 230);
}
.show31{
    position: absolute;
    left: 10px;
    padding: 25px;
    font-size: 13px;
    font-weight: bold;
}

